html {
	font-size: 1em;
}

body {
	margin: 40px 100px 40px 100px;
	color: rgb(36, 34, 46);
	/*font-size: 1em;*/
}

/*p, li {
	font-size: 20px;
}*/

h1, h2, h3 {
	color: rgb(65, 77, 79);
	font-weight: normal;

}

h1 {
	font-size: 2rem;
	font-weight: 900;
	font-style: italic;
}

h2 {
	font-size: 150%;
}

strong {
	font-weight: normal;
}

blockquote, figure {
	font-size: 20px;
	font-size: 1.5rem;
}

em {
	font-style: normal;
}